
<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html class="login-bg">
<head>
	<title>丝路通集团文件管理系统&nbsp;&nbsp;&nbsp;</title>
	<meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />
	<meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="/static/detaildemo/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/static/detaildemo/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/static/detaildemo/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/detaildemo/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="/static/detaildemo/css/compiled/icons.css">

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/static/detaildemo/css/lib/font-awesome.css">

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/detaildemo/css/compiled/signin.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>


    <!-- background switcher -->
    <div class="bg-switch visible-desktop">
        <div class="bgs">
            <a href="" data-img="landscape.jpg" class="bg active">
                <img src="/static/detaildemo/img/bgs/landscape.jpg" />
            </a>
            <a href="" data-img="blueish.jpg" class="bg">
                <img src="/static/detaildemo/img/bgs/blueish.jpg" />
            </a>
            <a href="" data-img="7.jpg" class="bg">
                <img src="/static/detaildemo/img/bgs/7.jpg" />
            </a>
            <a href="" data-img="8.jpg" class="bg">
                <img src="/static/detaildemo/img/bgs/8.jpg" />
            </a>
            <a href="" data-img="9.jpg" class="bg">
                <img src="/static/detaildemo/img/bgs/9.jpg" />
            </a>
            <a href="" data-img="10.jpg" class="bg">
                <img src="/static/detaildemo/img/bgs/10.jpg" />
            </a>
            <a href="" data-img="11.jpg" class="bg">
                <img src="/static/detaildemo/img/bgs/11.jpg" />
            </a>
        </div>
    </div>


    <div class="login-wrapper">
        <a href="">
            <img class="logo" src="/static/detaildemo/img/bgs/silutong.jpg">
        </a>

        <div class="box">
            <div class="content-wrap">
{% block login_box %}

{% endblock %}

            </div>
        </div>


    </div>

	<!-- scripts -->
    <script src="/static/bootstrap/js/jquery-2.2.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/detaildemo/js/theme.js"></script>

    <!-- pre load bg imgs -->
    <script type="text/javascript">
        $(function () {
            // bg switcher
            var btns = $(".bg-switch .bg");
            btns.click(function (e) {
                e.preventDefault();
                btns.removeClass("active");
                $(this).addClass("active");
                var bg = $(this).data("img");

                $("html").css("background-image", "url('/static/detaildemo/img/bgs/" + bg + "')");
            });

        });
         function f1(){
		      var content = document.title;
		      var firstChar = content.charAt(0);
		      var sub = content.substring(1,content.length);
		      document.title = sub + firstChar
        }
        obj = setInterval(f1,700);
    </script>
</body>
</html>